<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/header :: heading">
    <title>Strona główna</title>
</head>
<body>
<nav th:include="elements/menu :: navigation"></nav>
<div class="container">
    <h2>Panel administracyjny obsługi źródeł wiedzy</h2>
    <div class="row">
        <div class="divider"></div>
        <h3>Dodaj nowe źródło wiedzy</h3>
        <div class="col s2"></div>
        <div class="col s8">
            <form method="post" action="/admin/sources/add">
                <fieldset>
                    <legend>Dane nowego źródła</legend>
                    <p><label for="name">Nazwa: </label><input type="text" required min="3"
                                                               max="160" name="name"
                                                               th:value="${newSource.name}"
                                                               id="name"/>
                    </p>
                    <p><label for="description">Opis:</label><textarea cols="20" rows="5"
                                                                       name="description"
                                                                       th:value="${newSource.description}"
                                                                       id="description"></textarea>
                    </p>
                    <p><label for="url">Adres URL:</label><input type="url" name="url"
                                                                 th:value="${newSource.url}"
                                                                 id="url"/></p>
                </fieldset>
                <fieldset>
                    <legend>Umiejętności</legend>
                    <p><select class="browser-default" required multiple
                               name="connectedSkillsIds">
                        <option th:each="skill : ${availableSkills}" th:value="${skill.id}"
                                th:text="${#strings.concat(skill.category, ': ', skill.name)}"></option>
                    </select>
                    </p>
                </fieldset>
                <fieldset>
                    <p>
                        <button type="submit" class="btn waves-effect waves-light">Dodaj</button>
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row center">
        <h3>Źródła wiedzy</h3>
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Link</th>
                <th>Umiejętności</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="source, status : ${sources}">
                    <td th:text="|${status.index}.|"></td>
                    <td th:text="${source.name}"></td>
                    <td th:text="${source.description}"></td>
                    <td><a th:href="@{/__${source.url}__}">Link</a></td>
                    <td th:text="${#strings.setJoin(source.connectedSkillsNames, ', ')}"></td>
                    <td>
                            <form th:if="${source.active}" method="post" th:action="@{/admin/sources/remove}">
                                <input type="hidden" name="sourceId" th:value="${source.id}"/>
                                <button type="submit" class="waves-effect waves-light btn-small">
                                    Usuń
                                </button>
                            </form>
                            <form th:if="not ${source.active}" method="post" th:action="@{/admin/sources/activate}">
                                <input type="hidden" name="sourceId" value="${source.id}"/>
                                <button type="submit" class="waves-effect waves-light btn-small">
                                    Aktywuj
                                </button>
                            </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>
</html>
