<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/header :: heading">
    <title>Strona główna</title>
</head>
<body>
<nav th:include="elements/menu :: navigation"></nav>
<div class="container">
    <div class="row center"><h2>Formularz logowania</h2>
        <div class="col s2"></div>
        <div class="col s6">
        <form method="post" action="/login">
            <div>
                <fieldset>
                    <legend>Dane logowania</legend>
                    <div><label for="login">Login: </label><input type="text" required name="login"
                                                                  id="login"/></div>
                    <div><label for="password">Password</label><input type="password" required
                                                                      name="password"
                                                                      id="password"/></div>
                    <div>
                        <button type="submit" class="btn waves-effect waves-light">Zaloguj</button>
                    </div>
                </fieldset>
            </div>
        </form>
        </div>
        <div class="col s4"></div>
    </div>
</div>
</body>
</html>
