<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/header :: heading">
    <title>Strona główna</title>
</head>
<body>
<nav th:include="elements/menu :: navigation"></nav>
<div class="container">
    <div class="row center"><h2 th:text="|${user.login}, Twoje umiejętności|"></h2>
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Umiejętność</th>
                <th>Kategoria</th>
                <th>Poziom</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="skill, status : ${uniqueSkills}">
                    <td th:text="|${status.index + 1}.|"></td>
                    <td th:text="${skill.name}"></td>
                    <td th:text="${skill.category}"></td>
                    <td th:text="${skillsOccurrences.get(skill)}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="divider"></div>
</div>
</body>
</html>
